h1 {
    color: white; 
} 

body {
    background: #678C91; 
    font-family: Arial; 
}

.opponent {
    float: right; 
    border-style: solid;
    border-color: white; 
    background-color: white; 
}

.own {
    float: left;
    border-style: solid;
    border-color: white;
    background-color: white; 
}

footer {
    color: white; 
    float: right; 
}